

  :root {
--font-body: 'Inter', 'Suisse Intl', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --font-mono: 'Inter', 'Roboto Mono', 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
  --font-serif: 'Inter', 'Merriweather', Georgia, Cambria, 'Times New Roman', serif;
  --font-sans: 'Inter', 'Suisse Intl', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
--font-size-100: 0.75rem;
--font-size-200: 1rem;
--nav-width: 200px;
}

/* Nav Group Label */
  .nav-group__label {
    color: var(--theme-elevation-700);
 
  font-weight: bold;
  }


/* 
  .nav--nav-open {
    width: var(--nav-width);
    padding-left: 12px;
    
  } */

 